<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" [routerLink]="'/wonder-selection'">
            <div class="card-body">
                <h5 class="card-title">Losowanie cudów</h5>
                <p class="card-text">Narzędzie do losowania plansz (oraz stron)</p>
            </div>
            <div class="card-footer text-end">
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" [routerLink]="'/points-calculator'">
            <div class="card-body">
                <h5 class="card-title">Kalkulator punktów</h5>
                <p class="card-text">Kalkulator liczący punkty zwycięstwa na koniec rozgrywki</p>
            </div>
            <div class="card-footer text-end">
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" [routerLink]="'/settings'">
            <div class="card-body">
                <h5 class="card-title">Ustawienia</h5>
                <p class="card-text">Strona do konfiguracji dodatków oraz graczy</p>
            </div>
            <div class="card-footer text-end">
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
    </div>
</div>