<div class="row">
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" [routerLink]="'/wonder-selection'">
            <div class="card-body">
                <h5 class="card-title">Wonder selection</h5>
                <p class="card-text">Tool for random selection of wonders (and sides)</p>
            </div>
            <div class="card-footer text-end">
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" [routerLink]="'/points-calculator'">
            <div class="card-body">
                <h5 class="card-title">Points calculator</h5>
                <p class="card-text">Calculator for making summary after finished game</p>
            </div>
            <div class="card-footer text-end">
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card text-white bg-primary mb-3" [routerLink]="'/settings'">
            <div class="card-body">
                <h5 class="card-title">Settings</h5>
                <p class="card-text">You can select used game extensions and specify players</p>
            </div>
            <div class="card-footer text-end">
                <i class="bi bi-arrow-right"></i>
            </div>
        </div>
    </div>
</div>